.header-section {
    background: var(--header-background-color);
    border-bottom: var(--default-border-style) var(--header-selected-color);

    position: sticky;
    top: 0;
    display: flex;
    grid-row: 1;
}

.header-wrapper {
    display: flex;
    align-items: center;
}

.nav__list {
    display: flex;
}

.nav__item {
    display: flex;
    align-items: center;
    color: var(--header-text-color);
}

.popup:hover {
    background: var(--header-selected-color);
}

.popup:hover > .header-popup,
.popup:hover > .header-popup__mobile {
    display: block;
}

.header-popup__mobile {
    display: none;
    padding: 5px 0;
    cursor: default;
    background: var(--header-background-color);
}

.popup-mobile:hover .hamburger-link {
    background: var(--header-selected-color);
    color: var(--header-hover-color);
}

.popup-mobile__item {
    font-size: 14px;
    background: none;
}

.popup-mobile__item:hover {
    background: none;
    color: var(--header-hover-color);
}

.popup {
    position: relative;
    cursor: pointer;
}

.popup > span {
    font-size: 14px;
}

.popup:hover {
    background: var(--header-selected-color);
}

.popup:hover > .header-popup {
    display: block;
}

.header-popup {
    background: white;
    border: var(--default-border-style) rgba(0, 0, 0, .15);
    border-top-width: 0;
    border-radius: 0 0 4px 4px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    display: none;
    padding: 5px 0;
    cursor: default;
    min-width: 160px;

    position: absolute;
    top: 100%;
    left: 0;
}

.header-popup__item {
    white-space: nowrap;
    color: var(--header-popup-color);
}

.header-popup__link,
.hamburger-popup__link {
    display: block;
    padding: 5px 15px 5px 25px;
    color: var(--header-popup-color);
}

.header-popup__link:hover {
    background: rgb(245, 245, 245);
}

.header-text {
    color: var(--header-text-color);
    font-size: 14px;
}

.header-link {
    color: var(--header-text-color);
    padding: 15px;

    display: flex;
    align-items: center;
    gap: 5px;
}

.header-link:hover,
.header-link:focus,
.hamburger-popup__link:focus {
    color: var(--header-hover-color);
}

.header-link:hover .header-logo__text,
.header-link:hover .header-logo__img {
    color: var(--header-hover-color);
}

.header-logo {
    color: var(--header-text-color);
    display: flex;
    align-items: center;
    gap: 3px;
    padding: 0;
    margin-right: 15px;
}

.header-logo:hover {
    color: var(--header-hover-color);
}

.header-logo__text {
    font-size: 18px;
    position: relative;
    top: 1px;
}

.header-logo__img {
    color: var(--header-text-color);
}

.actucal-page {
    background: var(--header-selected-color);
}

.actucal-page > .header-text {
    color: var(--header-hover-color);
}

.search-form {
    display: flex;
    align-items: center;
    margin-right: 0;
    margin-left: auto;
}

.search-box > [class^=search] {
    border: var(--default-border-style) rgb(204, 204, 204);
}

.search-box__field {
    width: 217px;
}

.search-box__field:focus {
    outline: none;
    box-shadow:
        rgba(0, 0, 0, 0.075) 0px 1px 1px 0px inset,
        rgba(102, 175, 233, 0.586) 0px 0px 7.81314px 0px;
    border-color: rgb(102, 175, 233);
}

.hamburger:hover .hamburger-nav,
.hamburger:hover .hamburger-addition-zone {
    display: block;
}

.hamburger:hover {
    background: var(--header-hamburger-color);
}

.hamburger {
    width: 44px;
    height: 34px;
    padding: 9px 10px;
    cursor: pointer;
    position: relative;
    margin-left: auto;
    margin-right: 0;
    border: var(--default-border-style) var(--header-hamburger-color);
    margin-top: 8px;
    margin-bottom: 8px;
    
    display: none;
}

.hamburger-lines {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.hamburger-addition-zone {
    position: absolute;
    width: 150%;
    height: 30%;
    top: 100%;
    right: -25%;

    background: none;
    display: none;
}

.hamburger-addition-zone:hover {
    cursor: default;
}

.hamburger .hamburger-line {
    height: 2px;
    background: white;
    border-radius: 3px;
}

.hamburger-nav {
    display: none;
    position: absolute;
    right: calc((-1 * var(--wrapper-side-padding)) - 1px);
    top: 41px;
    width: 100vw;
}

.hamburger-list {
    background: var(--header-background-color);
    padding: 10px 0;
    list-style: none;
    border-top: var(--default-border-style) var(--header-border-color);
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 0px 0px inset;
    cursor: default;
}

.hamburger-item {
    color: var(--header-text-color);
}

.hamburger-link {
    padding: 10px 15px;
}

@media screen and (max-width: 800px) {
    .nav__list,
    .search-form {
        display: none;
    }

    .hamburger {
        display: block;
    }
}