* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
a:visited {
  color: inherit;
}
fieldset {
  border: 0;
  appearance: none;
}
input {
  appearance: none;
  border: 0;
}
